

body {
  margin: 0px;

}
#nav-cat {
  position: fixed;
  width: 100%;
  /* margin-top: -20px;
    margin-bottom: 40px; */
}
#category > div {
  margin-top: 80px;
  width: 85%;
  height: 40px;
  display: flex;
  margin: auto;

  align-items: center;
  font-size: 15px;
  font-weight: bold;

  font-family: Lato, sans-serif;

  justify-content: space-evenly;
}
#category {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 40px;
  width: 100%;
  margin: auto;
}
#category > div > li {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  list-style: none;
}
#category > div > li > a {
  text-decoration: none;
  color: black;
  transition-duration: 0.2s;
}

#category > div > li > a:hover {
  color: #00b1cd;
}
#category > div > li > a {
  padding-bottom: 5px;
}

.active {
  /* padding-bottom: 5px; */
  border-bottom-style: solid;
  border-color: #00b1cd;
}

#news {
  padding-top: 140px;
  width: 100%;

  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 240px 540px 300px;
  /* grid-template-rows:  auto auto auto; */
  gap: 0px 30px;
  font-family: "blacker_pro_displayheavy";
  background-color: #f5f5f5;
}

#news > div > h3 > span,
#news > div > h4 > span {
  color: #00b1cd;
  font-weight: 1000;
  font-size: 22px;
}

#news > div {
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  text-align: center;
  background-color: white;
}

#news > div:nth-child(1) > div:nth-child(1) {
  width: 95%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(10, 166.08);
  grid-template-rows: repeat(10, auto);
  font-family: Lato, sans-serif;
  font-size: 14px;
}
#news > div:nth-child(4) > div:nth-child(2) {
  margin-top: 20px;
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 166.08);
  grid-template-rows: repeat(8, auto);
  font-family: Lato, sans-serif;
  font-size: 14px;
}
#news > div:nth-child(2) {
  padding: 5px;
}
#news > div:nth-child(2) > #headline {
  width: 95%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 498);
  grid-template-rows: repeat(1, auto);

  margin-top: -10px;
  padding: 0px 10px 20px 10px;
  font-family: Lato, sans-serif;
  text-align: left;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#news > div:nth-child(2) > #headline:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#news > div:nth-child(2) > #headline > p {
  color: #00b1cd;
  margin-top: -10px;
  font-weight: bold;
}
#news > div:nth-child(2) > #headline > p + p {
  color: grey;
  font-size: 12.9px;
  font-weight: lighter;
}
#news > div:nth-child(2) > #headline > p + p + img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

#news > div:nth-child(2) > #headline > h3:hover,
#news > div:nth-child(2) > #headline > p:nth-child(1):hover,
#news > div:nth-child(2) > #headline > p:nth-child(2):hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  cursor: pointer;
}
#mews > div:nth-child(3) > p {
  color: grey;
  font-size: 10px;
  font-weight: lighter;
}

#mews > div:nth-child(3) > div {
  margin-bottom: 10px;
}
#top-news-under,
#top-news-under-2 {
  width: auto;
  height: auto;
  margin: auto;
  margin-left: -4px;
  display: grid;
  grid-template-columns: repeat(1, 498);
  grid-template-rows: repeat(8, auto);

  margin-top: 20px;
  padding: 0px 10px 20px 10px;
  font-family: Lato, sans-serif;
  text-align: left;
}

#top-news-2 {
  width: 95%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 498);
  grid-template-rows: repeat(1, auto);

  margin-top: -10px;
  padding: 0px 10px 20px 10px;
  font-family: Lato, sans-serif;
  text-align: left;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#top-news-under > div > div:nth-child(1) > p:nth-child(1):hover,
#top-news-under > div > div:nth-child(1) > p:nth-child(2):hover,
#top-news-under > div > div:nth-child(2) > img,
#top-news-under-2 > div > div:nth-child(1) > p:nth-child(1):hover,
#top-news-under-2 > div > div:nth-child(1) > p:nth-child(2):hover,
#top-news-under-2 > div > div:nth-child(2) > img {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  cursor: pointer;
}
#news > div:nth-child(3) {
  background-color: rgb(228, 228, 228);
}

/* medium screen */
@media all and (min-width: 551px) and (max-width: 700px) {
  #news {
    grid-template-columns: repeat(1, 1fr);
     margin: auto;
  }
}

/* small screen */
@media all and (min-width: 320px) and (max-width: 550px) {
  #news {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 209px;
  }
}
